<?xml version="1.0" encoding="UTF-8"?>	
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">	
<plist version="1.0">	
<dict>	
	<key>items</key>	
	<array>	
		<dict>	
			<key>assets</key>	
			<array>	
				<dict>	
					<key>kind</key>	
					<string>software-package</string>	
					<key>url</key>	
					<string>https://github.com/Gawssin/hello-world/releases/download/1.0/doubleH3lix-RC5.ipa</string>	
				</dict>	
				<dict>	
					<key>kind</key>	
					<string>full-size-image</string>	
					<key>needs-shine</key>	
					<false/>	
					<key>url</key>	
					<string>https://img.xygeng.cn/upload/1810/b78e2eb3976807b3.png</string>	
				</dict>	
				<dict>	
					<key>kind</key>	
					<string>display-image</string>	
					<key>needs-shine</key>	
					<false/>	
					<key>url</key>	
					<string>https://img.xygeng.cn/upload/1810/54a4e2345de4eaff.png</string>	
				</dict>	
			</array>	
			<key>metadata</key>	
			<dict>	
				<key>bundle-identifier</key>	
				<string>com.gaosen.ipa</string>	
				<key>bundle-version</key>	
				<string>2.1.11</string>	
				<key>kind</key>	
				<string>software</string>	
				<key>subtitle</key>	
				<string>UDID</string>	
				<key>title</key>	
				<string>doubleH3lix</string>	
			</dict>	
		</dict>	
	</array>	
</dict>	
</plist>
